@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "android";
    src: url(../fontes/idroid.otf);
    format: ('opentype');
}

* {
    margin: 0px;
    padding: 0%;
}

:root {

    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'Android';
}

body {

    background-color: var(--cor01);

}

header {
    background-color: var(--cor04);
    min-height: 150px;
    text-align: center;
background-image: linear-gradient(to bottom, var(--cor04), var(--cor06));

}

header>h1 {
    font-family: var(--fonte-destaque);
    color: white;
    padding: 40px 0px 20px 0px;
    font-size: 3em;
    text-shadow: 2px 2px 0cap rgb(0, 0, 0);

}

header>p {
    color: white;
    display: block;
    margin: auto;
    max-width: 650px;
    font-size: 1.2em;
    padding-bottom: 30px;
    text-shadow: 2px 2px 0cap rgb(0, 0, 0);
}

nav {
    background-color: var(--cor06);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.282);
    padding-bottom: 15px;

}

nav>a {
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

nav > a:hover {
    background-color: var(--cor05);
    transition-duration: 0.3s;
}

main {
    background-color: var(--cor01);
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 0px 0px 10px 10px;

}

main h1 {
    color: var(--cor05);
    font-variant: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor03), var(--cor01));
}

main p {
    font-size: 1.1em;
    line-height: 1.6em;
    text-indent: 2em;
    padding: 20px 0px;
    text-align: justify;
}
main a {
    text-decoration: none;
    color: var(--cor06);
    font-weight: bold;
    background-color: #3ddc84;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor02);
}

main>strong {
    color: var(--cor06);
}

main img.bugdroidimg {
    max-width: 350px;
    display: block;
    margin: auto;
}

.video {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/ 9;
    height: auto;
    border: none;
    display: block;
}

img {
    width: 100%;
    margin: auto;
}

aside {
   background-color: #3ddc84;
   margin-top: 20px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.605);
  }


aside ul {
    columns: 2;
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    font-weight: bold;
}

aside h3 {
    background-color: #1a5c37;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 10px 10px 20px;
    color: white;
}

.link {
    font-size: 0.6em;
    position: relative;
    top: -4px;
    left: 3px;
}

footer {
    background-color: var(--cor06);
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--cor02);

}

footer a:hover {
    text-decoration: underline;
    color: #2fa866;
}